# Validation notebook for LEPR spreadsheet upload

In [1]:
import sys
import pandas as pd

sys.path.append('../src/')
import PyLEPR as pl

In [18]:
# upload_data = pd.read_excel(
#     "https://github.com/sarahshi/validation/blob/main/upload_validation.xlsx?raw=true",
#     sheet_name=None,
#     engine="openpyxl",
# )

upload_data = pd.read_excel(
    "../data/upload_validation.xlsx",
    sheet_name=None,
    engine="openpyxl",
)

In [19]:
log_filename_6 = "validation_sheet6.log"
pl.begin_logging(log_filename_6)

chem_dat_6, chem_dat_info_6 = pl.extract_chem_dat(upload_data, sheet='6 Data', start_col='H', start_row=7)
display(chem_dat_6)
display(chem_dat_info_6)

,SPECIES,SiO2,SiO2_err,TiO2,TiO2_err,FeO,FeO*,FeO*_err,FeOtot,FeOtot_err,Al2O3,Al2O3_err,MgO,MgO_err,Fe2O3total,Fe2O3total_err,Total
EXPERIMENT NAME,,,,,,,,,,,,,,,,,
Run_1,clinopyroxene,47.5,(1),0.61,<abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_2,Olivine,49.2,0.1,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_3,chlorite,48.1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_4,Allanite,46,n.d.,<0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_5,Pyrope,49,N.D,nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_6,Liquid,41.3,≌,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_7,liquid,41.66,~,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_8,liquid,45.4,≤0.3,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_9,cpx,46,NaN,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_10,opx,40.8,NaN,0.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_11,clinopyroxene,41,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_12,Olivine,41,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_13,chlorite,37.7,NaN,0.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_14,Allanite,41,NaN,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_15,Pyrope,39.5,NaN,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_16,Liquid,38.3,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,SiO2,SiO2_err,TiO2,TiO2_err,FeO,FeO*,FeO*_err,FeOtot,FeOtot_err,Al2O3,Al2O3_err,MgO,MgO_err,Fe2O3total,Fe2O3total_err,Total
method_id,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
unit,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%

In [20]:
pl.validate_metadata(chem_dat_info_6, start_col='H')
pl.validate_chemical_values(chem_dat_6, start_col='H', start_row=7)
pl.print_log_file(log_filename_6)

Metadata validation completed successfully.
Chemical data validation completed successfully.
--> ERROR (validate_column_names): Column 'FeO*' (Excel Column M) is not formatted correctly. Please replace with 'FeO'.
--> ERROR (validate_column_names): Column 'FeOtot' (Excel Column O) is not formatted correctly. Please replace with 'FeO'.
--> ERROR (validate_column_names): Column 'Fe2O3total' (Excel Column U) is not formatted correctly. Please replace with 'Fe2O3'.
--> WARNING (validate_column_names): Column 'Total' (Excel Column W) detected. Please ensure this is the volatile-free total.
--> WARNING (validate_chem_error_columns): 'FeO_err' or 'FeOerror' missing from chemistry data columns.
--> WARNING (validate_chem_error_columns): 'Total_err' or 'Totalerror' missing from chemistry data columns.
--> ERROR (validate_chemical_values): 'cpx' (Excel Cell B15) is not a valid full phase. Please check for typos or reexamine the list of accepted phases on the GitHub Wiki.
--> ERROR (validate_chemical_values): 'opx' (Excel Cell B16) is not a valid full phase. Please check for typos or reexamine the list of accepted phases on the GitHub Wiki.
--> ERROR (validate_chemical_values): 0 in (Excel Cell J9) is not valid. Use 'bdl' for below detection limit values and leave cell blank if not measured.
--> ERROR (validate_chemical_values): 'n.d.' (Excel Cell J10) is not valid. Use 'bdl' if below detection limit.
--> ERROR (validate_chemical_values): 'N.D' (Excel Cell J11) is not valid. Use 'bdl' if below detection limit.
--> ERROR (validate_chemical_values): '≌' (Excel Cell J12) is not valid. Remove ≌.
--> WARNING (validate_value): '≤0.3' (Excel Cell J14) contains a symbol.
--> ERROR (validate_chemical_values): 0 in (Excel Cell K9) is not valid. Use 'bdl' for below detection limit values and leave cell blank if not measured.
--> WARNING (validate_value): '<0.7' (Excel Cell K10) contains a symbol.
--> ERROR (validate_chemical_values): 'nd' (Excel Cell K11) is not valid. Use 'bdl' if below detection limit.
--> WARNING (validate_value): '<abc' (Excel Cell L7) contains a symbol.
--> ERROR (validate_chemical_values): '<abc' (Excel Cell L7) is not valid, as it is not numeric.

In [21]:
log_filename_4 = "validation_sheet4.log"
pl.begin_logging(log_filename_4)

chem_dat_4, chem_dat_info_4 = pl.extract_chem_dat(upload_data, sheet='4 Bulk (Run Products)', start_col='F', start_row=7)
display(chem_dat_4)
display(chem_dat_info_4)

0                           phase list   SiO2 SiO2_err   TiO2 TiO2_err
EXPERIMENT NAME
Run_1                       liq+ol+opx   47.5     47.5   47.5     47.5
Run_2                       liq,ol,opx   49.2     49.2   49.2     49.2
Run_3                     liq, ol, opx   48.1     48.1   48.1     48.1
Run_4                          l, o, k     46       46     46       46
Run_5                       liq;ol;opx     49       49     49       49
Run_6                       liq, o, op   41.3     41.3   41.3     41.3
Run_7             liquid, olivine, opx  41.66    41.66  41.66    41.66
Run_8            liquid, orthopyroxene   45.4     45.4   45.4     45.4

0         SiO2 SiO2_err TiO2 TiO2_err
method_id    1      NaN    1        1
unit       wt%      wt%  NaN      wt%

In [17]:
pl.validate_metadata(chem_dat_info_4, start_col='F')
pl.validate_chemical_values(chem_dat_4, start_col='F', start_row=7)
pl.print_log_file(log_filename_4)

Metadata validation completed successfully.
Chemical data validation completed successfully.
--> CRITICAL (validate_chem_units): 'TiO2' (Excel Column H) does not provide any units.
--> ERROR (validate_chem_method): 'SiO2_err' (Excel Column G) does not provide any method_id.
--> ERROR (validate_chemical_values): Invalid phases detected (Excel Cell B10): l, o, k. Please check for typos or reexamine the list of accepted abbreviated phases on the GitHub Wiki.
--> ERROR (validate_chemical_values): Invalid phases detected (Excel Cell B12): o, op. Please check for typos or reexamine the list of accepted abbreviated phases on the GitHub Wiki.
--> ERROR (validate_chemical_values): Invalid phases detected (Excel Cell B13): liquid, olivine. Please check for typos or reexamine the list of accepted abbreviated phases on the GitHub Wiki.
--> ERROR (validate_chemical_values): Invalid phases detected (Excel Cell B14): liquid, orthopyroxene. Please check for typos or reexamine the list of accepted abbreviated phases on the GitHub Wiki.