# Validation Notebook for LEPR Spreadsheet Uploads

In [1]:
import sys
import logging
import numpy as np
import pandas as pd

sys.path.append('../src/')
import pylepr.validate as pl

In [2]:
upload_data = pd.read_excel(
    "../data/upload_validation.xlsx",
    sheet_name=None,
    engine="openpyxl",
)

In [3]:
log_filename = 'validation_all.log'
pl.validate_all(upload_data, log_filename)
pl.print_log_file(log_filename)

STARTING VALIDATION FOR SHEET '2 Experiments'

---> ERROR (validate_required_fields): Missing value found at Excel Cell I7. Please provide a value for 'PRESSURE'.
---> WARNING (validate_buffer): 'NO' (Excel Cell K9) does not match any accepted buffers. Please check for typos or reexamine the list on the GitHub Wiki.

STARTING VALIDATION FOR SHEET '3 Bulk (Starting Materials)'

---> CRITICAL (validate_chem_units): 'TiO2_err' (Excel Column K) does not provide any units.

STARTING VALIDATION FOR SHEET '4 Bulk (Run Products)'

---> ERROR (validate_required_fields): Missing value found at Excel Cell D14. Please provide a value for 'CALCULATED AVERAGE'.
---> ERROR (validate_chem_phase_values): 'l, o, k' (Excel Cell B10) contains invalid phase abbreviations. Please check for typos or reexamine the list on the GitHub Wiki.
---> ERROR (validate_chem_phase_values): 'liquid, olivine' (Excel Cell B13) contains invalid phase abbreviations. Please check for typos or reexamine the list on the GitHub Wiki.

STARTING VALIDATION FOR SHEET '5 Device Metadata'

---> ERROR (validate_device_codes): Unique DEVICE codes ['4'] in Sheet '2 Experiments' not found in Sheet '5 Device Metadata'.
---> ERROR (validate_device_codes): Unique DEVICE codes ['etc.'] in Sheet '5 Device Metadata' not found in Sheet '2 Experiments'.

STARTING VALIDATION FOR SHEET '6 Data'

---> ERROR (validate_column_names): Column 'FeO*' (Excel Column N) is not formatted correctly. Please replace with 'FeO'.
---> WARNING (validate_column_names): Column 'Total' (Excel Column Q) detected. Please ensure this is the volatile-free total.
---> WARNING (validate_chem_error_columns): 'Fe2O3_err' or 'Fe2O3error' missing from chemistry data columns.
---> CRITICAL (validate_chem_units): 'SiO2' (Excel Column H) does not provide any units.
---> WARNING (validate_units): 'wt.%' (Excel Column I) does not match any accepted units. Please check for typos or reexamine the list on the GitHub Wiki.
---> ERROR (validate_required_fields): Missing value found at Excel Cell B8. Please provide a value for 'SPECIES'.
---> ERROR (validate_required_fields): Missing value found at Excel Cell F7. Please provide a value for 'CALCULATED AVERAGE'.
---> ERROR (validate_chem_phase_values): '(1)' (Excel Cell I7) is not valid. Please provide an absolute uncertainty.
---> ERROR (validate_chem_phase_values): 'n.d.' (Excel Cell I10) is not valid. Use 'bdl' if below detection limit.
---> ERROR (validate_chem_phase_values): '≤0.3' (Excel Cell I14) is not valid. Replace '≤' with '<='.
---> ERROR (validate_chem_phase_values): '≌' (Excel Cell I15) is not valid. Remove ≌.
---> ERROR (validate_chem_phase_values): 'nd' (Excel Cell J11) is not valid. Use 'bdl' if below detection limit.
---> ERROR (validate_chem_phase_values): '-' in (Excel Cell J12) is not valid. Leave cell blank if not measured.
---> ERROR (validate_chem_phase_values): '<abc' (Excel Cell K7) is not valid. The part after '<' must be numeric.

STARTING VALIDATION FOR SHEET '7 Primary Method Metadata' and '8 Method-Specific Metadata'

---> ERROR (validate_method_codes): Unique METHOD CODE ['5'] in Sheets '3 Bulk (Starting Materials), 4 Bulk (Run Products), or 6 Data' not found in Sheets '7 Primary Method Metadata or 8 Method-Specific Metadata'.
---> WARNING (validate_methods): 'EMPA' (Excel Cell D9) does not match any accepted techniques. Please check for typos or reexamine the list on the GitHub Wiki.
---> WARNING (validate_methods): 'xyz' (Excel Cell D10) does not match any accepted techniques. Please check for typos or reexamine the list on the GitHub Wiki.

VALIDATION COMPLETE FOR ALL SHEETS

In [4]:
chem_data_6, chem_data_info_6 = pl.extract_chem_data(upload_data, sheet='6 Data', start_col='H', start_row=7)
display(chem_data_6)
display(chem_data_info_6)

log_filename_6 = "validation_sheet6.log"
pl.begin_logging(log_filename_6)

pl.validate_metadata(chem_data_info_6, start_col='H')

pl.validate_chem_phase_values(chem_data_6, start_row=7)

pl.print_log_file(log_filename_6)

,SPECIES,Grain/Spot ID,Spot Location,Description,CALCULATED AVERAGE,Number of Replicates,SiO2,SiO2_err,TiO2,TiO2_err,FeO,FeO_err,FeO*,FeO*_err,Fe2O3,Total,Total_err
EXPERIMENT NAME,,,,,,,,,,,,,,,,,
Run_1,clinopyroxene,NaN,NaN,NaN,NaN,NaN,47.5,(1),0.61,<abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_2,NaN,NaN,NaN,NaN,Y,NaN,49.2,0.1,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_3,chlorite,NaN,NaN,NaN,Y,NaN,48.1,0,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_4,Allanite,NaN,NaN,NaN,Y,NaN,46,n.d.,<0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_5,Pyrope,NaN,NaN,NaN,Y,NaN,49,0.3,nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_6,Liquid,NaN,NaN,NaN,Y,NaN,41.3,0.3,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_7,liquid,NaN,NaN,NaN,Y,NaN,41.66,0.3,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_8,liquid,NaN,NaN,NaN,Y,NaN,45.4,≤0.3,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_9,clinopyroxene,NaN,NaN,NaN,Y,NaN,46,≌,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_10,orthopyroxene,NaN,NaN,NaN,Y,NaN,40.8,0.3,0.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_11,clinopyroxene,NaN,NaN,NaN,Y,NaN,41,0.3,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_12,Olivine,NaN,NaN,NaN,Y,NaN,41,0.3,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_13,chlorite,NaN,NaN,NaN,Y,NaN,37.7,0.3,0.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_14,Allanite,NaN,NaN,NaN,Y,NaN,41,0.3,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_15,Pyrope,NaN,NaN,NaN,Y,NaN,39.5,0.3,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_16,Liquid,NaN,NaN,NaN,Y,NaN,38.3,0.3,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,SiO2,SiO2_err,TiO2,TiO2_err,FeO,FeO_err,FeO*,FeO*_err,Fe2O3,Total,Total_err
method_id,1,1,1,1,1,1,1,1,1,5,5
unit,NaN,wt.%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%,wt%

---> ERROR (validate_column_names): Column 'FeO*' (Excel Column N) is not formatted correctly. Please replace with 'FeO'.
---> WARNING (validate_column_names): Column 'Total' (Excel Column Q) detected. Please ensure this is the volatile-free total.
---> WARNING (validate_chem_error_columns): 'Fe2O3_err' or 'Fe2O3error' missing from chemistry data columns.
---> CRITICAL (validate_chem_units): 'SiO2' (Excel Column H) does not provide any units.
---> WARNING (validate_units): 'wt.%' (Excel Column I) does not match any accepted units. Please check for typos or reexamine the list on the GitHub Wiki.
---> ERROR (validate_required_fields): Missing value found at Excel Cell B8. Please provide a value for 'SPECIES'.
---> ERROR (validate_required_fields): Missing value found at Excel Cell F7. Please provide a value for 'CALCULATED AVERAGE'.
---> ERROR (validate_chem_phase_values): '(1)' (Excel Cell I7) is not valid. Please provide an absolute uncertainty.
---> ERROR (validate_chem_phase_values): 'n.d.' (Excel Cell I10) is not valid. Use 'bdl' if below detection limit.
---> ERROR (validate_chem_phase_values): '≤0.3' (Excel Cell I14) is not valid. Replace '≤' with '<='.
---> ERROR (validate_chem_phase_values): '≌' (Excel Cell I15) is not valid. Remove ≌.
---> ERROR (validate_chem_phase_values): 'nd' (Excel Cell J11) is not valid. Use 'bdl' if below detection limit.
---> ERROR (validate_chem_phase_values): '-' in (Excel Cell J12) is not valid. Leave cell blank if not measured.
---> ERROR (validate_chem_phase_values): '<abc' (Excel Cell K7) is not valid. The part after '<' must be numeric.

In [5]:
chem_data_4, chem_data_info_4 = pl.extract_chem_data(upload_data, sheet='4 Bulk (Run Products)', start_col='F', start_row=7)
display(chem_data_4)
display(chem_data_info_4)

log_filename_4 = "validation_sheet4.log"
pl.begin_logging(log_filename_4)

pl.validate_metadata(chem_data_info_4, start_col='F')

pl.validate_chem_phase_values(chem_data_4, start_row=7)

pl.print_log_file(log_filename_4)

,Phase List,Description,CALCULATED AVERAGE,Number of Replicates,opx,liq,opx_err,liq_err
EXPERIMENT NAME,,,,,,,,
Run_1,liq+ol+opx,NaN,Y,NaN,47.5,47.5,NaN,NaN
Run_2,"liq,ol,opx",NaN,Y,NaN,47.5,49.2,NaN,NaN
Run_3,"liq, ol, opx",NaN,Y,NaN,48.1,48.1,NaN,NaN
Run_4,"l, o, k",NaN,Y,NaN,46,47.5,NaN,NaN
Run_5,liq;ol;opx,NaN,Y,NaN,49,49,NaN,NaN
Run_6,"liq, ol, opx",NaN,Y,NaN,41.3,41.3,NaN,NaN
Run_7,"liquid, olivine, opx",NaN,Y,NaN,41.66,41.66,NaN,NaN
Run_8,liq,NaN,NaN,NaN,45.4,45.4,NaN,NaN

0          opx  liq opx_err liq_err
method_id    4    4       4       4
unit       wt%  wt%     wt%     wt%

---> ERROR (validate_required_fields): Missing value found at Excel Cell D14. Please provide a value for 'CALCULATED AVERAGE'.
---> ERROR (validate_chem_phase_values): 'l, o, k' (Excel Cell B10) contains invalid phase abbreviations. Please check for typos or reexamine the list on the GitHub Wiki.
---> ERROR (validate_chem_phase_values): 'liquid, olivine' (Excel Cell B13) contains invalid phase abbreviations. Please check for typos or reexamine the list on the GitHub Wiki.

In [6]:
dat_2 = pl.extract_data(upload_data, sheet='2 Experiments', start_col='A', start_row=7)
display(dat_2)

log_filename_2 = "validation_sheet2.log"
pl.begin_logging(log_filename_2)

pl.validate_required_fields(dat_2, start_row=7)

pl.validate_buffer(dat_2, start_row=7)

pl.print_log_file(log_filename_2)

,Starting Material Name,IGSN of Related Sample,DATABASE TYPE,Lithology,Keywords,DEVICE,TEMPERATURE,PRESSURE,Time,fO2,Description
EXPERIMENT NAME,,,,,,,,,,,
Run_1,MORB,1234,LEPR,Basalt,MORB,1,1050,NaN,1,10000,NaN
Run_2,MORB,1234,LEPR,Basalt,MORB,2,1050,1,1,NNO,NaN
Run_3,MORB,1234,LEPR,Basalt,MORB,3,1050,1,1,NO,NaN
Run_4,MORB,1234,LEPR,Basalt,MORB,4,1050,1,1,NNO,NaN

---> ERROR (validate_required_fields): Missing value found at Excel Cell I7. Please provide a value for 'PRESSURE'.
---> WARNING (validate_buffer): 'NO' (Excel Cell K9) does not match any accepted buffers. Please check for typos or reexamine the list on the GitHub Wiki.

In [7]:
chem_data_3, chem_data_info_3 = pl.extract_chem_data(upload_data, sheet='3 Bulk (Starting Materials)', start_col='H', start_row=7)
display(chem_data_3)
display(chem_data_info_3)

log_filename_3 = "validation_sheet3.log"
pl.begin_logging(log_filename_3)

pl.validate_metadata(chem_data_info_3, start_col='H')

pl.validate_chem_phase_values(chem_data_3, start_row=7)

pl.print_log_file(log_filename_3)

,MATERIAL TYPE,Starting Material Preparation,Doped/Undoped,Description,CALCULATED AVERAGE,Number of Replicates,SiO2,SiO2_err,TiO2,TiO2_err,Al2O3,Al2O3_err,MgO,MgO_err
STARTING MATERIAL NAME,,,,,,,,,,,,,,
MORB,Powdered Rock,NaN,NaN,NaN,Y,NaN,48,0.5,3,0.3,14,NaN,8,NaN

0         SiO2 SiO2_err TiO2 TiO2_err Al2O3 Al2O3_err  MgO MgO_err
method_id    1        1    1        1     2         2    3       3
unit       wt%      wt%  wt%      NaN   wt%       wt%  wt%     wt%

---> CRITICAL (validate_chem_units): 'TiO2_err' (Excel Column K) does not provide any units.

In [8]:
dat_5 = pl.extract_data(upload_data, sheet='5 Device Metadata', start_col='A', start_row=7)
display(dat_5)

log_filename_5 = "validation_sheet5.log"

pl.begin_logging(log_filename_5)

pl.validate_device_codes(dat_2, dat_5)

pl.print_log_file(log_filename_5)

,Experiment,NaN,DEVICE,Instrument,LABORATORY,Experimentalist,Experiment Date,NaN,CAPSULE MATERIAL,Pressure Medium,...,NaN,Intial Temperature (T1),Initial Temperature Delta (T1-T2),Time at T1,NaN,Temperature Uncertainty,Pressure Uncertainty,Pressure Calibration,NaN,NaN
DEVICE CODE,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
etc.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---> ERROR (validate_device_codes): Unique DEVICE codes ['4'] in Sheet '2 Experiments' not found in Sheet '5 Device Metadata'.
---> ERROR (validate_device_codes): Unique DEVICE codes ['etc.'] in Sheet '5 Device Metadata' not found in Sheet '2 Experiments'.

In [9]:
dat_7 = pl.extract_data(upload_data, sheet='7 Primary Method Metadata', start_col='A', start_row=7)
dat_8 = pl.extract_data(upload_data, sheet='8 Method-Specific Metadata', start_col='A', start_row=7)

log_filename_78 = "validation_sheet78.log"

pl.begin_logging(log_filename_78)

pl.validate_method_codes(chem_data_info_3, chem_data_info_4, chem_data_info_6, dat_7, dat_8)

pl.print_log_file(log_filename_78)

---> ERROR (validate_method_codes): Unique METHOD CODE ['5'] in Sheets '3 Bulk (Starting Materials), 4 Bulk (Run Products), or 6 Data' not found in Sheets '7 Primary Method Metadata or 8 Method-Specific Metadata'.