# Proof of concept validation notebook for LEPR upload

In [1]:
import sys
import numpy as np
import pandas as pd
import logging

sys.path.append('../src/')
import PyLEPR as pl

In [2]:
# upload_data = pd.read_excel(
#     "https://github.com/sarahshi/validation/blob/main/upload_validation.xlsx?raw=true",
#     sheet_name=None,
#     engine="openpyxl",
# )

upload_data = pd.read_excel(
    "../data/upload_validation.xlsx",
    sheet_name=None,
    engine="openpyxl",
)

In [3]:
log_filename = "validation.log"

pl.begin_logging(log_filename)

In [4]:
chem_dat, chem_dat_info = pl.extract_chem_dat(upload_data, sheet='6 Data', start_col='H', start_row=5)
display(chem_dat)
display(chem_dat_info)

,SiO2,SiO2_err,TiO2,TiO2_err,FeO*,FeOtot,Al2O3,MgO,FeOtotal,FeO,Fe2O3t,Total
Run Analytical Data,,,,,,,,,,,,
Run_1,47.5,(1),0.61,<abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_2,49.2,0.1,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_3,48.1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_4,46,n.d.,<0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_5,49,N.D,nd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_6,41.3,â‰Œ,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_7,41.667688,~,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_8,45.4,NaN,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_9,46,NaN,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_10,40.8,NaN,0.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_11,41,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_12,41,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_13,37.7,NaN,0.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_14,41,NaN,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_15,39.5,NaN,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Run_16,38.3,NaN,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,SiO2,SiO2_err,TiO2,TiO2_err,FeO*,FeOtot,Al2O3,MgO,FeOtotal,FeO,Fe2O3t,Total
method_id,1,NaN,1,1,1,2,1,NaN,NaN,NaN,NaN,NaN
unit,wt%,wt%,NaN,wt%,wt%,wt%,NaN,wt%,NaN,NaN,NaN,NaN

In [5]:
pl.validate_metadata(chem_dat_info)

Metadata validation completed successfully.

In [6]:
pl.validate_chemical_values(chem_dat)

Chemical data validation completed successfully.

In [7]:
pl.print_log_file(log_filename)

--> ERROR_(validate_column_names): Column 'FeO*' (Excel Column L) is not formatted correctly. Please replace with 'FeO'.
--> ERROR_(validate_column_names): Column 'FeOtot' (Excel Column M) is not formatted correctly. Please replace with 'FeO'.
--> ERROR_(validate_column_names): Column 'FeOtotal' (Excel Column P) is not formatted correctly. Please replace with 'FeO'.
--> ERROR_(validate_column_names): Column 'Fe2O3t' (Excel Column R) is not formatted correctly. Please replace with 'Fe2O3'.
--> WARNING_(validate_column_names): Column 'Total' (Excel Column S) detected. Please ensure this is the volatile-free total.
--> WARNING_(validate_chem_error_columns): 'FeO*_err' or 'FeO*error' missing from chemistry data columns.
--> WARNING_(validate_chem_error_columns): 'FeOtot_err' or 'FeOtoterror' missing from chemistry data columns.
--> WARNING_(validate_chem_error_columns): 'Al2O3_err' or 'Al2O3error' missing from chemistry data columns.
--> WARNING_(validate_chem_error_columns): 'MgO_err' or 'MgOerror' missing from chemistry data columns.
--> WARNING_(validate_chem_error_columns): 'FeOtotal_err' or 'FeOtotalerror' missing from chemistry data columns.
--> WARNING_(validate_chem_error_columns): 'FeO_err' or 'FeOerror' missing from chemistry data columns.
--> WARNING_(validate_chem_error_columns): 'Fe2O3t_err' or 'Fe2O3terror' missing from chemistry data columns.
--> WARNING_(validate_chem_error_columns): 'Total_err' or 'Totalerror' missing from chemistry data columns.
--> CRITICAL_(validate_chem_units): 'TiO2' (Excel Column J) does not provide any units.
--> CRITICAL_(validate_chem_units): 'Al2O3' (Excel Column N) does not provide any units.
--> CRITICAL_(validate_chem_units): 'FeOtotal' (Excel Column P) does not provide any units.
--> CRITICAL_(validate_chem_units): 'FeO' (Excel Column Q) does not provide any units.
--> CRITICAL_(validate_chem_units): 'Fe2O3t' (Excel Column R) does not provide any units.
--> CRITICAL_(validate_chem_units): 'Total' (Excel Column S) does not provide any units.
--> ERROR_(validate_chem_method): 'SiO2_err' (Excel Column I) does not provide any method_id.
--> ERROR_(validate_chem_method): 'MgO' (Excel Column O) does not provide any method_id.
--> ERROR_(validate_chem_method): 'FeOtotal' (Excel Column P) does not provide any method_id.
--> ERROR_(validate_chem_method): 'FeO' (Excel Column Q) does not provide any method_id.
--> ERROR_(validate_chem_method): 'Fe2O3t' (Excel Column R) does not provide any method_id.
--> ERROR_(validate_chem_method): 'Total' (Excel Column S) does not provide any method_id.
--> ERROR_(validate_chemical_values): 0 in (Excel Cell I9) is not valid. Use 'bdl' if below detection limit and leave cell blank if not measured
--> ERROR_(validate_chemical_values): 'n.d.' (Excel Cell I10) is not valid. Use 'bdl' if below detection limit.
--> ERROR_(validate_chemical_values): 'N.D' (Excel Cell I11) is not valid. Use 'bdl' if below detection limit.
--> ERROR_(validate_chemical_values): 'â‰Œ' (Excel Cell I12) is not valid. Ensure correct symbol use and numeric value.
--> ERROR_(validate_chemical_values): 0 in (Excel Cell J9) is not valid. Use 'bdl' if below detection limit and leave cell blank if not measured
--> ERROR_(validate_chemical_values): '<0.7' (Excel Cell J10) is not valid. Ensure correct symbol use and numeric value.
--> ERROR_(validate_chemical_values): 'nd' (Excel Cell J11) is not valid. Use 'bdl' if below detection limit.
--> ERROR_(validate_chemical_values): '<abc' (Excel Cell K7) is not valid. Ensure correct symbol use and numeric value.